<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adicionar Filme</title>
</head>
<body>
    <h1>Adicionar Filme</h1>
    <form method="POST">
        <label>Título:</label>
        <input type="text" name="titulo" required>
        <label>Diretor:</label>
        <input type="text" name="diretor" required>
        <label>Gênero:</label>
        <input type="text" name="genero" required>
        <label>Ano:</label>
        <input type="number" name="ano" required>
        <button type="submit">Salvar</button>
    </form>
    <a href="/" class="button">Voltar</a>
</body>
</html>